$px96 : 6rem;
$px80 : 5rem;
$px72 : 4.5rem;
$px70 : 3.875rem;
$px64 : 4rem;
$px60: 3.75rem;
$px54: 3.375rem;
$px48 : 3rem;
$px45 : 2.813rem;
$px42 : 2.688rem;
$px40 : 2.5rem;
$px36 : 2.25rem;
$px32 : 2rem;
$px30 : 1.875rem;
$px28 : 1.75rem;
$px27 : 1.688rem;
$px26 : 1.625rem;
$px24 : 1.5rem;
$px23 : 1.438rem;
$px22 : 1.375rem;
$px21 : 1.313rem;
$px20 : 1.25rem;
$px19 : 1.188rem;
$px18 : 1.125rem;
$px17 : 1.063rem;
$px16 : 1rem;
$px15 : 0.938rem;
$px14 : 0.875rem;
$px13 : 0.813rem;
$px12 : 0.75rem;
$px11 : 0.688rem;
$px10 : 0.625rem;

$primary-font:  'Poppins', sans-serif; 
$base-font : $px16;
$body-bg: #f0f2f5;
$primary-color: #5C6571;
$secondary-color: #263242;
$gray-color : #D1D6DC;
$gray-color-t2 : #E9EBEF;
$gray-color-t3 : #8B9097;
$white : #fff;
$black : #000;
$orange : #FF895D;
$purple: #9863F3;
$blue: #1B76FF;
$gray_list_bg:#e6e8ec;
$blue02 : #212429;
$verdigris:#3FB8A6;
$cadet-blue: #B0B5BD;
$black-coral: #545D6A;
$cultured:#f4f5f6;
$picton-blue: #4EAAED;
$jonquil: #FED01B;
$coral-red: #F44040;